{% extends "base.html" %}

{% block content %}
<h1>商品一覧</h1>
<form method="get" action="{% url 'products:product_list' %}">
    <div class="mb-3">
        <label for="product_name_dao" class="form-label">名前</label>
        <input type="text" class="form-control" id="product_name_dao" name="product_name" value="{{ request.GET.product_name }}" style="width: 200px;">
    </div>
    <div class="mb-3">
        <label for="product_type_name_dao" class="form-label">タイプ</label>
        <input type="text" class="form-control" id="product_type_name_dao" name="product_type_name" value="{{ request.GET.product_type_name }}" style="width: 200px;">
    </div>
    <button type="submit" class="btn btn-primary">実行</button>
</form>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>名前</th><th>タイプ</th><th>製造者</th><th>価格</th><th>在庫数</th>
        </tr>
    </thead>
    <tbody>
        {% for product in object_list %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.producer}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>


{% endblock %}