<form method="post">
    {% csrf_token%}
    <div style="color :red">
    {{ form.non_field_errors.as_text }}
    {% if form.errors %}
    {% for key, value in form.errors.items %}
    <p>{{ key}}: {{value.as_text}}</p>
    {% endfor %}
    {% endif %}
    {{form.name.label}}: {{ form.name }}
    {%if form.name.errors %}
    {{form.name.errors}}
    {% endif%}
    {{form.title.label}}: {{ form.title }}
    {%if form.title.errors %}
    {{form.title.errors}}
    {% endif%}
    {{form.memo.label}}: {{ form.memo }}
    {%if form.memo.errors %}
    {{form.memo.errors}}
    {% endif%}
    <input type="submit" value="送信">
    </div>
</form>